# Ignore the environment file
.env

# Ignore all files in the migrations directory
backend/api/migrations/*.py
# But do not ignore __init__.py
!backend/api/migrations/__init__.py

# Ignore the virtual environment directory
.venv

# Ignore .DS_Store file 
.DS_Store

# Ignore pyc files
*.pyc